# Copyright (c) 2004-2021 Parallels International GmbH.
# All rights reserved.
# http://www.parallels.com

[Unit]
Description=Parallels Tools Daemon
Before=display-manager.service
After=prltools-reconfig.service

[Service]
Type=forking
ExecStart=/usr/lib/parallels-tools/installer/prltoolsd.sh start
ExecStop=/usr/lib/parallels-tools/installer/prltoolsd.sh stop
PIDFile=/var/run/prltoolsd.pid

[Install]
WantedBy=multi-user.target
